<section class="mt-5 mb-5">
  <div class="col-sm-12 text-center"><h4 class="text-uppercase mb16">Resend confirmation instructions</h4></div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-4 offset-4 col-md-4 offset-4 sign-up-form">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control", placeholder: "Your Email" %>
          </div>

          <div class="actions form-group">
            <%= f.submit "Resend confirmation instructions", ,class: "btn btn-block sign-up-btn btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>        
