<section>
  <div class="container text-center mt-5 mb-5">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-10 offset-1 ">
          <div class="heading-text ">
            <h3 class="text-dark">ThankYou For Registration !!</h3>
          </div>
          <div class="paragraph-text">
            <p class="lead mt-3 text-dark">Your Details Submited Successfully !!!</p>
          </div>
          <div class="buttons mt-3">
            <%= link_to "View WorkShop Details!",recent_workshop_path, class: "btn workshop-btn shadow"%>
          </div>
        </div>  
      </div>
    </div>  
  </div>
</section>