<div class="container">
  <div class="row mt-5">
    <div class="col-md-9">
      <div class="course-heading mb-3">
        <h2>Full Stack Web Development With Python Django</h2>
      </div>
      <div class="course-banner">
        <%= image_tag "rorbanner.jpg", class: "img-fluid" %>
      </div>
      <div class="course-content mt-3 mb-3">
        <h3>Course Content</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PART ONE: COURSE INTRODUCTION
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Course Introduction</h5>
                <ul>
                  <li>Introduction to Python</li>
                  <li>Introduction to Django</li>
                  <li>Course Overview</li>
                  <li>Environmental Setup and Installation</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PART TWO: FRONT END DEVELOPMENT
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Front End Module Introduction</h5>
                <ul>
                  <li>Introduction to Web</li>
                  <li>Introduction to Web pages</li>
                  <li>Introduction to User Interfaces</li>
                </ul>
                <h5 class="card-title">HTML Module</h5>
                <ul>
                  <li>Introduction to HTML</li>
                  <li>Basics of HTML tags</li>
                  <li>HTML Forms </li>
                  <li>HTML Tables</li>
                  <li>HTML Attributes</li>
                </ul>
                <h5 class="card-title">HTML Advanced</h5>
                <ul>
                  <li>HTML Media</li>
                  <li>Geolocation API</li>
                  <li>Web workers</li>
                  <li>Web Storage</li>
                </ul>
                <h5 class="card-title">HTML Assessments</h5>
                <ul>
                  <li>Basic Tags Assessments</li>
                  <li>Forms Assessments</li>
                  <li>Tables Assessments</li>
                  <li>Attributes Assessments</li>
                  <li>Advanced Assessments</li>
                </ul>
                <h5 class="card-title">CSS Introduction</h5>
                <ul>
                  <li>CSS Basics Properties</li>
                  <li>Styling HTML elements with CSS</li>
                  <li>CSS Assessments</li>
                </ul>
                <h5 class="card-title">Bootstrap4 Module</h5>
                <ul>
                  <li>Introduction to Responsive Web Design</li>
                  <li>Introduction to Bootstrap</li>
                  <li>Bootstrap Grid System</li>
                  <li>Bootstrap Components</li>
                  <li>Designing Responsive Web Pages with Bootstrap</li>
                </ul>
                <h5 class="card-title">Bootstrap Assessments</h5>
                <ul>
                  <li>Grid System Assessments</li>
                  <li>Bootstrap Component Basic Assessments</li>
                  <li>Bootstrap Component Advanced Assessments</li>
                </ul>
                <h5 class="card-title">Javascript Introduction</h5>
                <ul>
                  <li>Basics of Javascript</li>
                  <li>Javascript DOM</li>
                  <li>Javascript Operators</li>
                  <li>Javascript Data Types</li>
                  <li>Javascript Strings</li>
                  <li>Javascript Arrays</li>
                  <li>Javascript Numbers</li>
                  <li>Javascript Dates</li>
                  <li>Javascript Conditional Structures</li>
                  <li>Javascript Control Structures</li>
                  <li>Javascript Debugging</li>
                  <li>Javascript Errors</li>
                  <li>Javascript Objects</li>
                  <li>Javascript JSON</li>
                  <li>Javascript Forms and Validations</li>
                  <li>Javascript Cookies</li>
                  <li>Javascript Events</li>
                </ul>
                <h5 class="card-title">Jquery Introduction</h5>
                <ul>
                  <li>Difference between Javascript and Jquery</li>
                  <li>Jquery Events</li>
                  <li>Jquery Callbacks</li>
                  <li>Jquery Chaining</li>
                </ul>
                <h5 class="card-title">Javascript Assessments</h5>
                <ul>
                  <li>Javascript Assessment One</li>
                  <li>Javascript Assessment Two</li>
                  <li>Javascript Assessment Three</li>
                  <li>Javascript Assessment Four</li>
                  <li>Javascript Assessment Five</li>
                  <li>Jquery Assessment One</li>
                  <li>Jquery Assessment Two</li>
                  <li>Jquery Assessment Three</li>
                  <li>Jquery Assessment Four</li>
                  <li>Jquery Assessment Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  PART THREE: BACK END DEVELOPMENT
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Introduction to Backend</h5>
                <ul>
                  <li>Introduction to Server Side Applications</li>
                  <li>Introduction to Client Server Architecture</li>
                  <li>Introduction to Database Management System</li>
                  <li>Command Line Interface and Terminal Overview</li>
                  <li>Difference between Compiled and Interpreted Programming Languages</li>
                </ul>
                <h5 class="card-title">Python Basics</h5>
                <ul>
                  <li>Introduction to Python</li>
                  <li>Features of Python</li>
                  <li>Python Interpreter</li>
                  <li>Python Interactive Mode</li>
                  <li>Python Prompt (Primary and Secondary)</li>
                  <li>Python Operators</li>
                  <li>Python Data Types</li>
                  <li>Conditional Structures in Python</li>
                  <li>Control Structures in Python</li>
                  <li>Looping in Python</li>
                  <li>Python Strings</li>
                  <li>Python Lists</li>
                  <li>Python Dictionary</li>
                  <li>Python Array</li>
                  <li>Python Tuple</li>
                  <li>Python Functions</li>
                  <li>Python Modules</li>
                  <li>Python I/O</li>
                  <li>Exceptional Handling in Python</li>
                  <li>Python Assessment One</li>
                  <li>Python Assessment Two</li>
                  <li>Python Assessment Three</li>
                  <li>Python Assessment Four</li>
                  <li>Python Assessment Five</li>
                </ul>
                <h5 class="card-title">DBMS Basics</h5>
                <ul>
                  <li>Introduction to MySQL Database</li>
                  <li>Practicing MySQL Queries using basic clauses </li>
                  <li>MySQL Joins</li>
                  <li>MySQL Assessment One</li>
                  <li>MySQL Assessment Two</li>
                  <li>MySQL Assessment Three</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<style type="text/css">
  .course-banner img {height:400px;}
</style>