<div class="container">
  <div class="row mt-5">
    <div class="col-md-9 course-area">
      <div class="course-heading mb-3">
        <h2>Full Stack Web Development With Python Django</h2>
      </div>
      <div class="course-banner">
        <%= image_tag "rorbanner.jpg", class: "img-fluid" %>
      </div>
      <div class="course-content mt-3 mb-3">
        <h3>Course Content</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PART ONE: COURSE INTRODUCTION
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Course Introduction</h5>
                <ul>
                  <li>Introduction to Python</li>
                  <li>Introduction to Django</li>
                  <li>Course Overview</li>
                  <li>Environmental Setup and Installation</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PART TWO: FRONT END DEVELOPMENT
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Front End Module Introduction</h5>
                <ul>
                  <li>Introduction to Web</li>
                  <li>Introduction to Web pages</li>
                  <li>Introduction to User Interfaces</li>
                </ul>
                <h5 class="card-title">HTML Module</h5>
                <ul>
                  <li>Introduction to HTML</li>
                  <li>Basics of HTML tags</li>
                  <li>HTML Forms </li>
                  <li>HTML Tables</li>
                  <li>HTML Attributes</li>
                </ul>
                <h5 class="card-title">HTML Advanced</h5>
                <ul>
                  <li>HTML Media</li>
                  <li>Geolocation API</li>
                  <li>Web workers</li>
                  <li>Web Storage</li>
                </ul>
                <h5 class="card-title">HTML Assessments</h5>
                <ul>
                  <li>Basic Tags Assessments</li>
                  <li>Forms Assessments</li>
                  <li>Tables Assessments</li>
                  <li>Attributes Assessments</li>
                  <li>Advanced Assessments</li>
                </ul>
                <h5 class="card-title">CSS Introduction</h5>
                <ul>
                  <li>CSS Basics Properties</li>
                  <li>Styling HTML elements with CSS</li>
                  <li>CSS Assessments</li>
                </ul>
                <h5 class="card-title">Bootstrap4 Module</h5>
                <ul>
                  <li>Introduction to Responsive Web Design</li>
                  <li>Introduction to Bootstrap</li>
                  <li>Bootstrap Grid System</li>
                  <li>Bootstrap Components</li>
                  <li>Designing Responsive Web Pages with Bootstrap</li>
                </ul>
                <h5 class="card-title">Bootstrap Assessments</h5>
                <ul>
                  <li>Grid System Assessments</li>
                  <li>Bootstrap Component Basic Assessments</li>
                  <li>Bootstrap Component Advanced Assessments</li>
                </ul>
                <h5 class="card-title">Javascript Introduction</h5>
                <ul>
                  <li>Basics of Javascript</li>
                  <li>Javascript DOM</li>
                  <li>Javascript Operators</li>
                  <li>Javascript Data Types</li>
                  <li>Javascript Strings</li>
                  <li>Javascript Arrays</li>
                  <li>Javascript Numbers</li>
                  <li>Javascript Dates</li>
                  <li>Javascript Conditional Structures</li>
                  <li>Javascript Control Structures</li>
                  <li>Javascript Debugging</li>
                  <li>Javascript Errors</li>
                  <li>Javascript Objects</li>
                  <li>Javascript JSON</li>
                  <li>Javascript Forms and Validations</li>
                  <li>Javascript Cookies</li>
                  <li>Javascript Events</li>
                </ul>
                <h5 class="card-title">Jquery Introduction</h5>
                <ul>
                  <li>Difference between Javascript and Jquery</li>
                  <li>Jquery Events</li>
                  <li>Jquery Callbacks</li>
                  <li>Jquery Chaining</li>
                </ul>
                <h5 class="card-title">Javascript Assessments</h5>
                <ul>
                  <li>Javascript Assessment One</li>
                  <li>Javascript Assessment Two</li>
                  <li>Javascript Assessment Three</li>
                  <li>Javascript Assessment Four</li>
                  <li>Javascript Assessment Five</li>
                  <li>Jquery Assessment One</li>
                  <li>Jquery Assessment Two</li>
                  <li>Jquery Assessment Three</li>
                  <li>Jquery Assessment Four</li>
                  <li>Jquery Assessment Five</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  PART THREE: BACK END DEVELOPMENT
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Introduction to Backend</h5>
                <ul>
                  <li>Introduction to Server Side Applications</li>
                  <li>Introduction to Client Server Architecture</li>
                  <li>Introduction to Database Management System</li>
                  <li>Command Line Interface and Terminal Overview</li>
                  <li>Difference between Compiled and Interpreted Programming Languages</li>
                </ul>
                <h5 class="card-title">Python Basics</h5>
                <ul>
                  <li>Introduction to Python</li>
                  <li>Features of Python</li>
                  <li>Python Interpreter</li>
                  <li>Python Interactive Mode</li>
                  <li>Python Prompt (Primary and Secondary)</li>
                  <li>Python Operators</li>
                  <li>Python Data Types</li>
                  <li>Conditional Structures in Python</li>
                  <li>Control Structures in Python</li>
                  <li>Looping in Python</li>
                  <li>Python Strings</li>
                  <li>Python Lists</li>
                  <li>Python Dictionary</li>
                  <li>Python Array</li>
                  <li>Python Tuple</li>
                  <li>Python Functions</li>
                  <li>Python Modules</li>
                  <li>Python I/O</li>
                  <li>Exceptional Handling in Python</li>
                  <li>Python Assessment One</li>
                  <li>Python Assessment Two</li>
                  <li>Python Assessment Three</li>
                  <li>Python Assessment Four</li>
                  <li>Python Assessment Five</li>
                </ul>
                <h5 class="card-title">DBMS Basics</h5>
                <ul>
                  <li>Introduction to MySQL Database</li>
                  <li>Practicing MySQL Queries using basic clauses </li>
                  <li>MySQL Joins</li>
                  <li>MySQL Assessment One</li>
                  <li>MySQL Assessment Two</li>
                  <li>MySQL Assessment Three</li>
                </ul>
                <h5 class="card-title">MySQL with Python</h5>
                <ul>
                  <li>Database Connectivity with MySQL and Python</li>
                  <li>Practicing MySQL Queries with Python</li>
                  <li>MySQL with Python Assessment One</li>
                  <li>MySQL with Python Assessment Two</li>
                  <li>MySQL with Python Assessment Three</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  PART FOUR: BACK END DEVELOPMENT - DJANGO
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <h5 class="card-title">Python Django</h5>
                <ul>
                  <li>Introduction to Django</li>
                  <li>Python Django Installation</li>
                  <li>Introduction to Model View Controller</li>
                </ul>
                <h5 class="card-title">Models and Database</h5>
                <ul>
                  <li>Models</li>
                  <li>Making Queries</li>
                  <li>Search</li>
                  <li>Managers</li>
                  <li>Performing Raw SQL Queries</li>
                  <li>Database Transaction</li>
                  <li>Working with Multiple Databases</li>
                  <li>Tablespaces</li>
                  <li>Database Access Optimizations</li>
                  <li>Examples of Model API relationship Usages</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Handling HTTP Requests</h5>
                <ul>
                  <li>Introduction HTTP</li>
                  <li>Types of HTTP Requests</li>
                  <li>Usage of HTTP Requests</li>
                  <li>Difference Between URL and URI</li>
                  <li>URL Dispatchers</li>
                  <li>Writing Views</li>
                  <li>View Decorators</li>
                  <li>File Uploads</li>
                  <li>Django Shortcut Functions</li>
                  <li>Generic Views</li>
                  <li>Middleware</li>
                  <li>Introduction to HTTP Sessions</li>
                  <li>Stateful and Stateless HTTP requests</li>
                  <li>How to Use Sessions in Django</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Working With Forms</h5>
                <ul>
                  <li>HTML Forms</li>
                  <li>Django’s Role in Forms</li>
                  <li>Forms in Django</li>
                  <li>Building a Form</li>
                  <li>Django Form Classes</li>
                  <li>Working with Form Templates</li>
                  <li>Django Formsets</li>
                  <li>Model Formsets</li>
                  <li>Formset Validations</li>
                  <li>Working with Form Templates</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Django Templates</h5>
                <ul>
                  <li>Django Template Engine</li>
                  <li>Django Template Language</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Class-Based Views</h5>
                <ul>
                  <li>Introduction to Class-Based Views</li>
                  <li>Build in Class-Based Generic Views</li>
                  <li>Form Handling with Class-Based View</li>
                  <li>Using Mixins With Class-Based Views</li>
                  <li>Subclassing Generic Views</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Migrations</h5>
                <ul>
                  <li>Introductions MIgrations</li>
                  <li>Role of Migrations in Database</li>
                  <li>Migration Backend Support</li>
                  <li>Migration Workflow</li>
                  <li>Dependencies for Migrations</li>
                  <li>Migration Files</li>
                  <li>Adding Migration to Apps</li>
                  <li>Using Migration Files in Models</li>
                  <li>File Storage</li>
                  <li>Updating Models using Migrations</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Testing in Django</h5>
                <h5 class="card-title">Django Cache Framework</h5>
                <h5 class="card-title">Conditional View Processing</h5>
                <ul>
                  <li>The condition decorator</li>
                  <li>Shortcuts for only computing one value</li>
                  <li>Using the decorators with other HTTP methods</li>
                  <li>Comparison with middleware conditional processing</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Sending email</h5>
                <ul>
                  <li>Quick example</li>
                  <li>send_mail()</li>
                  <li>send_mass_mail()</li>
                  <li>mail_admins()</li>
                  <li>mail_managers()</li>
                  <li>Examples</li>
                  <li>Preventing header injection</li>
                  <li>The EmailMessage class</li>
                  <li>Email backends</li>
                  <li>Configuring email for development</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Pagination</h5>
                <ul>
                  <li>Example</li>
                  <li>Using Paginator in a view</li>
                  <li>Paginator objects</li>
                  <li>InvalidPage exceptions</li>
                  <li>Page objects</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Security in Django</h5>
                <ul>
                  <li>Cross site scripting (XSS) protection</li>
                  <li>Cross site request forgery (CSRF) protection</li>
                  <li>SQL injection protection</li>
                  <li>Clickjacking protection</li>
                  <li>SSL/HTTPS</li>
                  <li>Host header validation</li>
                  <li>Session security</li>
                  <li>User-uploaded content</li>
                  <li>Additional security topics</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Performance and optimization</h5>
                <ul>
                  <li>Introduction</li>
                  <li>General approaches</li>
                  <li>Caching</li>
                  <li>Understanding laziness</li>
                  <li>Databases</li>
                  <li>HTTP performance</li>
                  <li>Template performance</li>
                  <li>Using different versions of available software</li>
                  <li>Assessment One</li>
                  <li>Assessment Two</li>
                  <li>Assessment Three</li>
                </ul>
                <h5 class="card-title">Django Assessments</h5>
                <ul>
                  <li>Project Assessment One (Minor Level)</li>
                  <li>Project Assessment Two (Moderate Level)</li>
                  <li>Project Assessment Three (Major Level)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<style type="text/css">
  .course-banner img {height:400px;}
  .course-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
</style>

<style type="text/css" media="print">
  * { display: none; }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $(".course-area").on("contextmenu",function(){
      return false;
    }); 
  }); 
</script>