.head {text-align: center !important;}
.card img {height:200px;}
.course-item-row .btn {border-radius: 0px;}
.page-footer {
  background-color: #243a51;
  color: #fff;
}
.btn-floating.btn-sm i {
  font-size: .96154rem;
  line-height: 36.15385px;
}
.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}
.btn-floating.btn-sm {
  width: 36.15385px;
  height: 36.15385px;
}
.btn-fb {
  background-color: #3b5998!important;
  color: #fff!important;
}
.ratings{min-height: 50px;}
.review-title{
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 15px;
  margin-bottom:-1px;
}
.review-heading-home{
  border-bottom: 1px solid #f00;
  width: 21%;
  padding: 5px;
  border-width: 5px;
}
.star-home{float:right;margin-top: -14%;}
.review-body{padding: 20px;}
img.raty-cancel {display: none;}
.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.btn-tw {
  background-color: #55acee!important;
  color: #fff!important;
}
.btn-gplus {
  background-color: #dd4b39!important;
  color: #fff!important;
}
.btn-li {
  background-color: #0082ca!important;
  color: #fff!important;
}
.btn-rounded {
  border-radius: 10em;
  padding:10px;
  width:120px;
}
.page-footer a {color:#8fa8c3;}
.grid-section {
  background-color: #f5f5f5;
  margin-top:10%;
  margin-bottom:5%;
  padding-bottom: 5%; 
  padding-top: 5%;
}
.grid-section1{
/*  background-color: #f5f5f5;*/
  margin-top:10%;
  margin-bottom:5%;
  padding-bottom: 5%; 
  padding-top: 2%;
  text-align: center!important;
}
.item {
  height:350px;
  width:99%;
  border:1px solid #ccc;
  background-color: #fff;
}
.item img {height:250px;}
.item-link {padding-left:20px;padding-top:20px;}
.item-link .btn {border-radius: 0px;}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 21px;
  margin: 5px;
  padding: 8px 13px;
  background: #b32a2a;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px;
  font-weight: normal;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #b32a2a;
}
.mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
section {
  position: relative;
  word-wrap: break-word;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item {height:450px !important;opacity:0.5;}
.flash-message{
  padding-top: 7px;
  padding-bottom: 16px;
  text-align: center;
  background-color: rgb(248, 249, 250);
}
.contact-form{margin-left: -7%;}
.contact-btn{
  background-color: #fc4f4f;
  border-color: #fc4f4f;
  color: #fff;
  border-radius: 0px;
}
.contact-form .form-control{
  border-radius:0px;  
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
#map {
  width: 102%;
  height: 116%;
  margin-top: -10.3%;
  background-color: grey;
}
.contact-container{width: 69%;margin-left: 20%;}
.sign-up-btn{
  background-color: #fc4f4f;
  border-color: #fc4f4f;
  color: #fff;
  border-radius: 0px;
}
.sign-up-form .form-control{
  border-radius: 0px;
  font-size: 16px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.forgot-link{color: gray;text-decoration: none;}
.forgot-link:hover{color:#000;text-decoration: none;}
.remeber-link{color: gray;}
.subscribe .form-control{
  border-radius: 0px;
  font-size: 16px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.workshop-form .form-control{
  border-radius: 0px;
  font-size: 16px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.subscribe-btn{
  background-color: #fc4f4f;
  border-color: #fc4f4f;
  color: #fff;
  border-radius: 0px;
}
.workshop-btn{
  background-color: #fc4f4f;
  border-color: #fc4f4f;
  color: #fff;
  border-radius: 0px;
}
.workshop-btn:hover{color:#002634;}

/*Validation Css */

.errorMessages {
  width: calc(100% - 8px);
  padding: 20px 0;
  background: #e74c3c;
  color: white;
  border: 2px solid #EC644B;
  display: none;
}
.alert
{
  margin-left: -3%;
  color: #fc4f4f;
}
.errorMessages li {
  padding: 0 0 5px 0;
  margin: 0 0 0 30px;
  font-family: Open Sans, sans serif;
}

#info {
  width: 360px;
  position: absolute;
  left: 20px;
  top: 10px;
}

#info h1 {
  margin: 10px 0;
}

#info li {
  list-style: none;
  margin-bottom: 5px;
}
#info li::before {
  content: '\f1d9';
  position: absolute;
  left: 8px;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.text_color{
  color: #fc4f4f;
  float:left;
  padding: 2px;
}
h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}
h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #8fbc54;
  left: 0;
  right: 0;
  bottom: -10px;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.review-carousel.active, .review-carousel-next, .review-carousel-prev{
  border:none;
  display: unset;
  text-align: center;
}
.review-carousel-indicator{margin-bottom:5%;}